<div id="sharing-url-{{nr}}">
    <form id="sharing-url-form-{{nr}}">
        <input type="hidden" class="sharing-type" value="{{type}}"/>
        <input type="hidden" class="sharing-entry-id" value="{{entry-id}}"/>
        <input type="hidden" class="sharing-author" value="{{author}}"/>
        <textarea form="sharing-url-form-{{nr}}" name="sharing-url-{{nr}}" class="sharing-url" cols="145" rows="4">
        </textarea>
        <div thread-id={{id}} class="admin-button save-sharing-url">Save</div>
        <div class="admin-button open-sharing-url">Open</div>
        <div thread-id={{id}} class="admin-button add-sharing-url">Add</div>
        <div thread-id={{id}} class="admin-button" nr="{{nr}}">Update</div>
        <div thread-id={{id}} class="admin-button delete-sharing-url" nr="{{nr}}">Delete</div>
    </form>
</div>