#downloads {
	float: left;
	font-weight: bold;
	margin-top: 7px;
	display: inline-block;
	margin-left: calc(50% - 39px);
}

#downloads-text {
	display: inline-block;
	float: left;
}

#downloads-amount {
	display: inline-block;
	float: left;
	margin-left: 3px;
}

.admin-button {
	height: 25px;
	width: 65px;
	float: unset;
	display: inline-block;
	text-align: center;
	border-radius: 3px;;
	border: 1px solid #091925;
	line-height: 22px;
	font-weight: bold;
	box-shadow: 1px 1px 1px #000;
	margin: 8px 8px 10px 3px;
	color: rgba(0, 0, 0, 0.8);
	user-select: none;
}

.admin-button-group {
	display: flex;
	margin-left: -12px;
}

.admin-button:hover {
	cursor: pointer;
	background: #405062;
}

.admin-button:active {
	color: rgb(0, 0, 0);
	box-shadow: 0px 0px 0px #000;
}


.admin-div-table {
	position: absolute;
	left: 21px;
	width: 95px;
}

.admin-div-table-right {
	position: absolute;
	right: 30px;
	width: 95px;
}

.admin-left-button {
	float:left;
	width: 95px;
	background: #87a7c3;
	opacity: 0.8;
}

.admin-right-button {
	float:right;
	width: 95px;
	background: #87a7c3;
	opacity: 0.8;
}

#add-char {
	position: absolute;
	top: 170px;
	left: 0;
}

.relation-data {
	float: left;
	margin-bottom:5px;
}

#edit-relation {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}

.relations {
	height: 22px;
}

#export-div {
	display: inline-block;
}

#export-text, #import-textarea {
	width: 1000px;
	margin: 20px 0;
}

#import-textarea {
	height: 500px;
}

#export-button {
	width: 700px;
	height: 100px;
	border-radius: 10px;
	font-size: 25px;
	padding: 30px;
	border: 3px solid #393939;
}

.export-button {
	min-width: 50px;
}

#admin-arrow {
	font-size: 45px;
	margin-top: -17px;
}

#switch_source {
	color: #033350;
	width: 48px;
	height: 56px;
	margin-top: 69px;
	position: absolute;
	left: 1187px;
	top: -45px;
	float: right;
	text-shadow: rgba(255,255,255,0.2) 1px 1px 2px;
}

#switch_source:hover {
	text-shadow: rgba(255,255,255,0.8) 0 0 4px;
}

#switch_source:active {
	text-shadow: rgba(255,255,255,0.2) 1px 1px 2px;
}

#remove-developer {
	position: absolute;
	right: 18px;
}

#download-info {
	width: 75px;
}

.user-select {
    -webkit-appearance: none;
    -moz-appearance: none;
	color: rgba(0, 0, 0, 0.8);
    appearance: none;

    padding-left: 5px;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px top 50%;
    background-size: 12px auto;
	min-width: 125px;
	background-color: #788c9a;
    text-align: left; /* Ensure the selected option text is left-aligned */
}

/* Style for the options within the select */
.user-select option {
    text-align: left;
    padding-left: 20px; /* Add some left padding to the options */
}