#downloads-page {
	max-width: 1240px;
	overflow: hidden;
	display: inline-table;
}

#downloads-table {
	margin-top: 10px;
	border: 2px solid #6c7f8c;
	border-bottom: none;
	padding: 1px 0;
}

.downloads-header {
	padding-left:10px;
}

.td_1 {
	text-align: left;
	padding-left: 5px;
	width: 50px;
}

.td_3 {
	text-align: left;
	padding-left: 5px;
	width: 50px;
}

.td_3 {
	text-align: left;
	padding-left: 5px;
    min-width:500px;
	max-width: 500px;
}

.td_4 {
	text-align: left;
	padding-left: 5px;
	cursor: pointer;
	color: #ffffff;
}

.td_5 {
	text-align: left;
	width: 100px;
	padding-left: 5px;
}

.td_6 {
	padding-left: 5px;
}

.td_7 {
	width:100px;
	text-align:center;
	padding-left: 5px;
}

.tr_banned {
	background: #ff0000;
}

.tr_unavailable {
	background: #ff7741;
}

.tr_comment {
	background: #ff4141;
}

#ban-table {
	width: 100%;
}

#ban-data-td {
	text-align: right;
}

#clear-downloads-td {
	padding-left: 75px;
}

#date-input {
	float:left;
	margin-top: 12px;
}

#download-column-url {
	min-width: 248px;
}

#ip-model {
	position: fixed;
	z-index: 9999;
	top: 644px;
	background-color: #788c9a;
	padding: 4px;
	border: 1px solid #000;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #000;
}
