#filter-table {
	display: inline-block;
}

#export-text {
	display: inline-block;
}

#get-export {
	Width:80px;
}

#spinner {
	height: 26px;
	width: 26px;
	position: absolute;
	margin-top: 7px;
}

#export-errors {
	color:darkred;
	font-size: 15px;
	font-weight: bolder;
}
