#invalid-links-page {
    max-width: 1240px;
    overflow: hidden;
    display: inline-table;
    padding: 20px;
}

#invalid-links-table {
    margin-top: 20px;
    border: 2px solid #6c7f8c;
    padding: 1px 0;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#invalid-links-table td, #invalid-links-table th {
    padding: 5px 15px;
    text-align: left;
    vertical-align: top;
}

#invalid-links-table td a[href*="?v=2&id="] {
    font-weight: bold;
}

#invalid-links-table td a {
    word-break: break-all;
}

#downloads-header th {
    padding: 5px 15px;
    font-size: 14px;
    border-bottom: 1px solid #3e5565;
    background: #326e9f;
    color: black;
}

#invalid-links-table tr:not(:first-child) {
    border-bottom: 1px solid #3e5565;
}

.parent-row {
    cursor: pointer;
}

.parent-row:hover {
    background-color: #5d7e96;
}

.ip-row-color-1 {
	background: #6c7f8c;
    padding-top: 1px;
    padding-bottom: 1px;
}

.ip-row-color-0 {
	background: #788c9a;
    padding-top: 1px;
    padding-bottom: 1px;
}

.ip-list {
	margin: -5px;
	margin-right: -15px;
}

#ip-model {
	position: fixed;
	z-index: 9999;
	top: 644px;
	background-color: #788c9a;
	padding: 4px;
	border: 1px solid #000;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #000;
}