#invalid-links-page {
    max-width: 1240px;
    overflow: hidden;
    display: inline-table;
    padding: 20px;
}

#invalid-links-table {
    margin-top: 20px;
    border: 2px solid #6c7f8c;
    padding: 1px 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#invalid-links-table td {
    padding: 5px 15px;
    text-align: center;
}

.invalid-links-th {
    padding: 5px 15px;
    font-size: 14px;
    border-bottom: 1px solid #3e5565;
    background: #326e9f;
    color: white;
}