
#link-state-page {
	max-width: 1240px;
	display: inline-table;
}

.success {
	background: #598d59;
	border-bottom: 1px solid #3e5565;
	margin-left: 8px;
}

.fail {
	background: #b75555;
	border-bottom: 1px solid #3e5565;
	margin-left: 17px;
}

.admin-button {
	background: #788c9a;
}
td {
	padding: 0 15px;
	border-bottom: 1px solid #3e5565;
}

th {
	padding: 0 25px;
	font-size: 14px;
	border-bottom: 1px solid #3e5565;
	background: #326e9f;
}

table {
	text-align: left;
	margin-top: 20px;
	border: 1px solid #3e5565;
}

label {
	font-weight: bold;
}

.td_4 {
	font-weight: bold;
}

#entries {
	margin-top: 20px;
	width: 314px;;
	margin-left: calc(50% - 160px);
}

#from {
	width:50px;
}

#to {
	width:50px;
}

#validate-links {
	margin-left: 10px;
	margin-top: -4px;
	position: absolute;
}

#spinner {
	height: 26px;
	width: 26px;
	position: absolute;
	margin-left: 85px;
	margin-top: -5px;
}

#link-states {
	margin-top: 5px;
}

#link-status-form {
	text-align: left;
	margin-left:12px;
}
