<div class="developer-list">
    <div class="developer-buttons {{developer-buttons}}">
        <div class="developer-type-button" id="g">
            <div class="developer-type">
                Game Developers
            </div>
            <div id="game-color"></div>
        </div>
        <div class="developer-type-button" id="o">
            <div class="developer-type">
                OVA Producers
            </div>
            <div id="ova-color"></div>
        </div>
        <div class="developer-type-button" id="3">
            <div class="developer-type">
                3D Producers
            </div>
            <div id="d3-color"></div>
        </div>
    </div>
    <div class="developers type-{{type}}">
        {{developers}}
    </div>
</div>