<div class="column">
    {for developers1}
        <a {{href}}>
            <div class="developer-list-item row-color-{{background}} developer-color-{{developerColor}}">
                {{developer}}
            </div>
        </a>
    {/for}
</div>
<div class="column">
    {for developers2}
    <a {{href}}>
        <div class="developer-list-item row-color-{{background}} developer-color-{{developerColor}}">
            {{developer}}
        </div>
    </a>
    {/for}
</div>
<div class="column">
    {for developers3}
    <a {{href}}>
        <div class="developer-list-item row-color-{{background}} developer-color-{{developerColor}}">
            {{developer}}
        </div>
    </a>
    {/for}
</div>