{{admin}}
    <div class="admin-button" id="downloads-div">
        <div id="downloads-amount">Downloads: {{downloads}}</div>
    </div>
    {if online}
    <div>
        {for sharing_urls}
        <div>
            <form id="sharing-url-form-{{nr}}" class="sharing-form">
                <input type="hidden" class="sharing-entry-id" value="{{entry-id}}"/>
                <input type="hidden" class="sharing-author" value="{{author}}"/>
                <textarea form="sharing-url-form-{{nr}}" id='sharing-textarea-{{nr}}' name="sharing-url-{{nr}}" class="sharing-url" cols="145" rows="4">
                    {{sharing_url_{{nr}}}}
                </textarea>
                <div id="save-{{nr}}" class="admin-button save-sharing-url">Save</div>
                <div id="open-{{nr}}" class="admin-button open-sharing-url">Open</div>
                <div id="add-sharing-{{nr}}" class="admin-button add-sharing-url">Add</div>
                <div id="update-sharing-{{nr}}" class="admin-button update-sharing-url">{{update}}</div>
                <select id="user-select-{{nr}}" author="{{author}}" class="admin-button user-select">
                    {{options}}
                </select>
                <div id="delete-{{nr}}" class="admin-button delete-sharing-url" nr="{{nr}}">Delete</div>
                <div id="more-sharing-urls"></div>
            </form>
        </div>
        {/for}
    </div>
    {/if}

    <div class="admin-div-table">
        <div class="admin-button admin-left-button move-to" id="move-to-inv">
            <div>Move To Inv</div>
        </div>
        <div class="admin-button admin-left-button move-to" id="move-to-new">
            <div>Move To New</div>
        </div>
        <div class="admin-button admin-left-button move-to" id="move-to-old">
            <div>Move To Old</div>
        </div>
        <div class="admin-button admin-left-button move-to" id="move-to-upc">
            <div>Move To Upc</div>
        </div>
        {if online}
            <div class="admin-button admin-left-button" id="add-char">
                <div>Add Character</div>
            </div>
        {/if}
    </div>
    <div class="admin-div-table-right">
        {if online}
        <div class="admin-button-group">
            <div class="admin-button admin-right-button export-button" id="export">
                <div>Export</div>
            </div>
        </div>
        {/if}
        <div class="admin-button admin-right-button" id="edit">
            <div>Edit</div>
        </div>
        <div class="admin-button admin-right-button" id="delete">
            <div>Delete</div>
        </div>
    </div>
{{/admin}}

<div class="header-style" id="info-title"  data-id="{{id}}" data-type="{{type}}" data-thread-count="{{threads}}">{{title}}</div>

{if romanji}<div class='header-style' id='info-romanji'>{{romanji}}</div>{/if}

<div id='cover'>
    <img id='cover_img' src='{{cover}}' onerror='setImage(this, "m")'/>
</div>
<br>
<div class='info-table' id='info-table'>
    <div class='info-row'>
        <div class='info-col1'>
            Released:
        </div>
        <div class='info-col2 released-td'>
            {{released}}
        </div>
    </div>
    <div class='info-row'>
        <div class='info-col1'>
            {{developerType}}:
        </div>
        <div class='info-col2'>
            {for developers}
            {!&nbsp&&nbsp!}
            <a href='{{url}}'>
                {{name}}
            </a>
            {/for}
        </div>
    </div>


{if website}
    <div class='info-row'>
        <div class='info-col1'>
            Homepage:
        </div>
        <div class='info-col2'>
            <a href='{{website}}' target='_blank'>
                {{website}}
            </a>
        </div>
    </div>
{/if}

{if information}
    <div class='info-row'>
        <div class='info-col1'>
            {{siteType}}
        </div>
        <div class='info-col2'>
            <a href='{{information}}' target='_blank'>
                {{information}}
            </a>
        </div>
    </div>
{/if}


{if vndbExists}
    <div class='info-row'>
        <div class='info-col1'>
            {{siteLabel}}:
        </div>
        <div class='info-col2'>
            <a href='{{site}}' target='_blank'>
                {{site}}
            </a>
        </div>
    </div>
{/if}


{if size}
    <div class='info-row'>
        <div class='info-col1'>
            Size:
        </div>
        <div class='info-col2 size-td'>
            {{size}}
        </div>
    </div>
{/if}

{if password}
    <div class='info-row' style='display:table-row'>
        <div class='info-col1' style='font-weight:bold;float:left;width:75px;text-align:left;'>
            Password:
        </div>
        <div class='info-col2' style='float:left;'>
            {{password}}
        </div>
    </div>
{/if}

</div>

{{images}}
<br>
{{characters}}
<br>
{{relations}}
<br>
{if single}
    <div id="downloads-header">Downloads</div>
{/if}
{{links}}

