<div class='footer'>
    <div id='footer_top'></div>

    <div id='footer-text'>
        <div id="copytext">
            <div id="copyright-char">&copy;</div>
            <div id='copyright-text'>2015-{{year}} Hcapital.tk</div>
        </div>

        <div id='disclaimer'>
            Hcapital.tk does not store or host any copyrighted materials on its servers.<br/>
            We only index and link to the content provided by other sites.<br/>
            All references are copyright to their respective owners.</div>
    </div>
</div>