<div id='header'>
    <!--<div id="message">-->
        <!--<div id="message_top"></div>-->
        <!--<div id="message_center"></div>-->
        <!--<div id="message_bottom"></div>-->
        <!--<div id="message_filler"></div>-->
        <!--<div id="message_text">Due to a problem with rapidgator in january 2020. Almost 60% of the links broke.-->
            <!--Ever since I've been trying to fix all links. Because of time constrains I couldn't check if all links point to the correct game.-->
            <!--If someone detects an error I will very much appreciate it if you will message me at-->
            <!--<a href="mailto:support@hcapital.tk">support@hcapital.tk</a>-->
        <!--</div>-->
    <!--</div>-->
    <a href="/">
        <div class='banner_btn' id='banner_btn' in="test"></div>
        {{admin}}
            <div id="switch_source" url="{{switch_url}}">
                <div id="admin-arrow">
                    &#8652;
                </div>
            </div>
        {{/admin}}
        <a href="?v=2&random=true">
            <div id="random_button">
                <div id="random">
                    ?
                </div>
            </div>
        </a>
    </a>
    <div id='header_a'>
        <img id='banner_image' src='{{banner}}'/>
        <a class="home-url" href="/">
            <div class='button' id='home_btn'>
                <div class='btn_text' id='home'>
                    Home
                </div>
            </div>
        </a>
        <a href="?v=2&l=g">
            <div class='button' id='games_btn'>
                <div class='btn_text' id='games'>
                    Games
                </div>
            </div>
        </a>
        <a href="?v=2&l=o">
            <div class='button' id='ovas_btn'>
                <div class='btn_text' id='ovas'>
                    OVA's
                </div>
            </div>
        </a>
        <a href="?v=2&l=3">
            <div class='button' id='d3_btn'>
                <div class='d3_text' id='d3'>
                    3D
                </div>
            </div>
        </a>
        <a href="?v=2&l=d">
            <div class='button' id='developers_btn'>
                <div class='btn_text' id='developers'>
                    Developers
                </div>
            </div>
        </a>
        <a href="?v=2&l=c">
            <div class='button' id='characters_btn'>
                <div class='btn_text' id='characters'>
                    Characters
                </div>
            </div>
        </a>
        <a href="?v=2&u=u">
            <div class='button' id='upcoming_btn'>
                <div class='btn_text' id='upcoming'>
                    Upcoming
                </div>
            </div>
        </a>
    </div>

    <form id='header-search' accept-charset='UTF-8'>
        <input id='input' type='text' name='header-text' class='header-text' value placeholder='search'>
        <input type='submit' class='header_submit' value='Search'>
    </form>
    <div id='bottom_border'>
        <div id='bottom_border_border'></div>
    </div>
</div>
