<div id="invalid-links-page">
    <div id="host-filter-container">
        <label style="margin-right: 15px;"><input type="checkbox" class="host-checkbox" value="rapidgator">
            Rapidgator</label>
        <label style="margin-right: 15px;"><input type="checkbox" class="host-checkbox" value="mexashare">
            Mexashare</label>
        <label style="margin-right: 15px;"><input type="checkbox" class="host-checkbox" value="katfile"> Katfile</label>
        <br>
        <div class="admin-button" id="filter-btn">Filter</div>
    </div>
    <table id="invalid-links-table" cellspacing="0" cellpadding="0">
        <tr id="downloads-header">
            <th class="downloads-header">Entry</th>
            <th class="downloads-header">Link URL</th>
            <th class="downloads-header">Downloaded IPs (Last 30 Days)</th>
        </tr>
        {{table_rows}}
    </table>
    <div id="ip-model" style="display: none;"></div>
</div>