<div id="link-state-page">
    <div id="entries">
        <form id="link-status-form" target="">
            <label>From entry:</label>
            <input type="hidden" name="v" value="2"/>
            <input type="hidden" name="action" value="lv"/>
            <input type="text" name="from" id="from"/>
            <label>To entry:</label>
            <input type="text" name="to" id="to"/>
            <div class="admin-button" id="validate-links">Validate</div>
            <span><img src="../../images/spinner.gif" id="spinner" style="display:none;"/></span>

            <div id="link-states">
                 <label>State:</label>
                <input type="checkbox" value="1" class="link-state success">Success</input>
                <input type="checkbox" value="2" class="link-state fail">Fail</input>
            </div>

            <div id="host-checkboxes">
                <label>Hosts:</label>
                <input type="checkbox" value="rapidgator" class="host-checkbox rapidgator">Rapidgator</input>
                <input type="checkbox" value="katfile" class="host-checkbox katfile">Katfile</input>
                <input type="checkbox" value="mexashare" class="host-checkbox mexashare">Mexashare</input>
            </div>
        </form>
        <br>
        <b style="color: red;">Only on hcapital.tk (For latest links)</b>
        <br>
        <span>{{linkString}}</span>
    </div>
    <table id="downloads-table" cellspacing="0" cellpadding="0">
        <tr id="downloads-header">
            <th class="downloads-header">Id</th>
            <th class="downloads-header">Link</th>
            <th class="downloads-header">Entry</th>
            <th class="downloads-header">State</th>
        </tr>
        {for links}
        <tr class="{{tr}} {{status}}">
            <td class="td_1">
                {{link}}
            </td>
            <td class="td_2">
                <a href="{{url}}">{{url}}</a>
            </td>
            <td class="td_3">
                <a href="/?v=2&id={{entry}}" target="_blank">
                    <div class="admin-button" id="entry">
                        {{entry}}
                    </div>
                </a>
            </td>
            <td class="td_4">
                {{status}}
            </td>
        </tr>
        {/for}
    </table>
</div>