{{searcher}}
<div class="list-line"></div>
<div class="list-select">
    <div class="list-select-buttons">
        {if games}
            <a href="?v=2&l=g&s={{search}}">
                <div class="list-select-button" id="list-select-games">
                    Games
                </div>
            </a>
        {/if}
        {if ovas}
            <a href="?v=2&l=o&s={{search}}">
                <div class="list-select-button" id="list-select-ovas">
                    OVA's
                </div>
            </a>
        {/if}
        {if 3d}
            <a href="?v=2&l=3&s={{search}}">
                <div class="list-select-button" id="list-select-3d">
                    3D
                </div>
            </a>
        {/if}
        {if developers}
            <a href="?v=2&l=d&s={{search}}">
                <div class="list-select-button" id="list-select-developers">
                    Developers
                </div>
            </a>
        {/if}
        {if characters}
            <a href="?v=2&l=c&s={{search}}">
                <div class="list-select-button" id="list-select-characters">
                    Characters
                </div>
            </a>
        {/if}
    </div>
</div>