<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="rapidgator" content="6cb14a05de856dd3de084c3413c91e000a96ff1e">
    <meta name="msvalidate.01" content="86526F06E7EDF8C32F772B89491B0F7C">

    <title>Hcapital</title>
    <link rel="icon" href="../../images/icon.gif">

    {{head}}
</head>
<body>
    <div id="wrapper">
        {{borders}}
        {{header}}
        {{content}}
        {{footer}}
    </div>
</body>
</html>