<div class='order-bar'>
{if entry}
    <div class='order-by-released'>
        Release date:
    </div>
    <div class='order-button' id="released-asc">▲</div>
    <div class='order-button order-button-desc' id="released-desc">▼</div>

    <div class='order-by-title'>
        Title:
    </div>
    <div class='order-button' id="title-asc">▲</div>
    <div class='order-button order-button-desc' id="title-desc">▼</div>

    <div class='order-by-romanji'>
        Romanji title:
    </div>

    <div class='order-button' id="romanji-asc">▲</div>
    <div class='order-button order-button-desc' id="romanji-desc">▼</div>
{/if}
{if character}
    <div class='order-by-gender'>
        Gender:
    </div>
    <div class='order-button' id="gender-asc">▲</div>
    <div class='order-button order-button-desc' id="gender-desc">▼</div>

    <div class='order-by-name'>
        Name:
    </div>
    <div class='order-button' id="name-asc">▲</div>
    <div class='order-button order-button-desc' id="name-desc">▼</div>

    <div class='order-by-romanji-name'>
        Romanji name:
    </div>
    <div class='order-button' id="romanji-name-asc">▲</div>
    <div class='order-button order-button-desc' id="romanji-name-desc">▼</div>
{/if}
</div>