<div id="thread-page">
    <div id="hidden"><input id="for-copy" type="text"/></div>
    <div>
        {for pagesTop}
            <div class="button-box">
                <a class="thread-pages" href="?v=2&EntryAction=threads&page={{nr}}">
                    <div class="page-button">
                        {{nr}}
                    </div>
                </a>
            </div>
        {/for}
    </div>
    <label>Filename with spaces</label><br>
    <input id="link-part" type="text" name="link-part" size="50"/>
    <div id="titleIds">
        <b>
            <table id="title-id-table">
                {for nameAndIds}
                    <tr class="row-color-{{tr}}">
                        <td>
                            <div class="copy-entry-id" entry-id="{{copyId}}">copy</div>
                        </td>
                        <td>
                            <a href="?v=2&id={{entryId}}">{{entryId}}</a>
                        </td>
                        <td>
                            <a href="?v=2&id={{entryId}}">{{title}}</a>
                        </td>
                        <td class="title-ids-td3 type-color-{{type}}">
                            {{type}}
                        </td>
                    </tr>
                {/for}
            </table>
        </b>
    </div>
    <table id="threads-table" cellspacing="0" cellpadding="0">
        {for threads}
            <tr class="{{tr}}">
                <td class="td_1">
                    <input type="text" class="entry-id-input" value="{{entryId}}"/>
                    <input type="text" class="author-input" value="{{author}}"/>
                </td>
                <td class="td_2">
                    <div class="thread-title">
                        <div class="name thread-title">
                            {{released}}&nbsp;<b>{{developers}}</b>
                        </div>
                        <div class="name title-title">
                            {{title}}
                        </div>
                        <div class="name copy">
                            <img src="images/copy.gif" height="15" width="15"/>
                        </div>
                    </div>
                    <div>
                        <input id="field_{{threadId}}" class='thread-url' type="text" size="115" placeholder="url" value="{{url}}"/>
                    </div>
                </td>
                <td class="td_4">
                    <div class="thread-button thread-edit" thread-id="{{threadId}}">edit</div>
                </td>
                <td class="td_5">
                    <a href="?v=2&id={{entryId}}">
                        <div class="tumbnail last-added-tumbnail">
                            <img class="tumbnail-img thread-cover" entry-id="{{entryId}}" src="{{cover}}">
                        </div>
                    </a>
                    <div class="hoover-img-holder">
                        <span class="hoover-img" entry-id="{{entryId}}">
                            <img class="entry-img" src="{{cover}}">
                        </span>
                    </div>
                </td>
                <td class="td_6">
                    <a id="go_{{threadId}}" href="{{url}}">
                        <div class="thread-button thread-go">
                                go
                        </div>
                    </a>
                </td>
                <td class="td_7">
                    <div class="checkbox-holder" thread-id="{{threadId}}">
                        <input class="thread-check" type="checkbox" thread-id="{{threadId}}" {{checked}}/>
                    </div>
                </td>
            </tr>
        {/for}
    </table>
    <div>
        {for pagesBottom}
        <div class="button-box">
            <a class="thread-pages" href="?v=2&EntryAction=threads&page={{nr}}">
                <div class="page-button">
                    {{nr}}
                </div>
            </a>
        </div>
        {/for}
    </div>
</div>
